<!DOCTYPE html>
<html lang="es">

<head>
    {% include "layouts/header.html" %}
    <link rel="stylesheet" href="/static/assets/site/css/maintenance.css">
</head>

<body>
    {% include "layouts/navbar.html" %}

    <main>
        <div class="container-fluid full-height toggle-bg">
            {% include "layouts/spinner.html" %}
            <div id="delete-config-form" class="toggle-text px-5 mx-5">
                <h5 class="py-4">Seleccione los elementos que desea eliminar:</h5>
                <div class="row">
                    <div class="col">
                        <h6>Sistema</h6>
                        <div class="form-check ms-4">
                            <input class="form-check-input" id="system-temp_files" type="checkbox"
                                aria-label="Limpiar archivos temporales">
                            <label for="system-temp_files" class="form-check-label">Temporales</label>
                        </div>
                        <div class="form-check ms-4">
                            <input class="form-check-input" id="system-recycle_bin" type="checkbox"
                                aria-label="Limpiar papelera de reciclaje">
                            <label for="system-recycle_bin" class="form-check-label">Papelera</label>
                        </div>
                    </div>
                    <div class="col">
                        <h6>Chrome</h6>
                        <div class="form-check ms-4">
                            <input class="form-check-input" id="chrome-history" type="checkbox"
                                aria-label="Limpiar historial de Chrome">
                            <label for="chrome-history" class="form-check-label">Historial</label>
                        </div>
                        <div class="form-check ms-4">
                            <input class="form-check-input" id="chrome-cache" type="checkbox"
                                aria-label="Limpiar la caché de Chrome">
                            <label for="chrome-cache" class="form-check-label">Caché</label>
                        </div>
                        <div class="form-check ms-4">
                            <input class="form-check-input" id="chrome-cookies" type="checkbox"
                                aria-label="Limpiar las cookies de Chrome">
                            <label for="chrome-cookies" class="form-check-label">Cookies</label>
                        </div>
                        <div class="form-check ms-4">
                            <input class="form-check-input" id="chrome-extensions" type="checkbox"
                                aria-label="Limpiar las extensiones de Chrome">
                            <label for="chrome-extensions" class="form-check-label">Extensiones</label>
                        </div>
                        <div class="form-check ms-4">
                            <input class="form-check-input" id="chrome-passwords" type="checkbox"
                                aria-label="Limpiar las contraseñas de Chrome">
                            <label for="chrome-passwords" class="form-check-label">Contraseñas</label>
                        </div>
                    </div>
                    <div class="col">
                        <h6>Edge</h6>
                        <div class="form-check ms-4">
                            <input class="form-check-input" id="edge-history" type="checkbox"
                                aria-label="Limpiar historial de Edge">
                            <label for="edge-history" class="form-check-label">Historial</label>
                        </div>
                        <div class="form-check ms-4">
                            <input class="form-check-input" id="edge-cache" type="checkbox"
                                aria-label="Limpiar la caché de Edge">
                            <label for="edge-cache" class="form-check-label">Caché</label>
                        </div>
                        <div class="form-check ms-4">
                            <input class="form-check-input" id="edge-cookies" type="checkbox"
                                aria-label="Limpiar las cookies de Edge">
                            <label for="edge-cookies" class="form-check-label">Cookies</label>
                        </div>
                        <div class="form-check ms-4">
                            <input class="form-check-input" id="edge-extensions" type="checkbox"
                                aria-label="Limpiar las extensiones de Edge">
                            <label for="edge-extensions" class="form-check-label">Extensiones</label>
                        </div>
                        <div class="form-check ms-4">
                            <input class="form-check-input" id="edge-passwords" type="checkbox"
                                aria-label="Limpiar las contraseñas de Edge">
                            <label for="edge-passwords" class="form-check-label">Contraseñas</label>
                        </div>
                    </div>
                    <div class="col">
                        <h6>Opera</h6>
                        <div class="form-check ms-4">
                            <input class="form-check-input" id="opera-history" type="checkbox"
                                aria-label="Limpiar historial de Opera">
                            <label for="opera-history" class="form-check-label">Historial</label>
                        </div>
                        <div class="form-check ms-4">
                            <input class="form-check-input" id="opera-cache" type="checkbox"
                                aria-label="Limpiar la caché de Opera">
                            <label for="opera-cache" class="form-check-label">Caché</label>
                        </div>
                        <div class="form-check ms-4">
                            <input class="form-check-input" id="opera-cookies" type="checkbox"
                                aria-label="Limpiar las cookies de Opera">
                            <label for="opera-cookies" class="form-check-label">Cookies</label>
                        </div>
                        <div class="form-check ms-4">
                            <input class="form-check-input" id="opera-extensions" type="checkbox"
                                aria-label="Limpiar las extensiones de Opera">
                            <label for="opera-extensions" class="form-check-label">Extensiones</label>
                        </div>
                        <div class="form-check ms-4">
                            <input class="form-check-input" id="opera-passwords" type="checkbox"
                                aria-label="Limpiar las contraseñas de Opera">
                            <label for="opera-passwords" class="form-check-label">Contraseñas</label>
                        </div>
                    </div>
                    <div class="col-12 mt-5 text-center">
                        <button class="btn btn-primary" onclick="submitData()">Realizar limpieza</button>
                    </div>
                </div>
            </div>
            <div id="maintenance-result" class="toggle-text px-5">
                <div class="row">
                    <div class="col-8 pt-5">
                        <h5 class="text-center mb-3">Lista de archivos eliminados</h5>
                        <div id="deleted-files" class="overflow-auto">
                            <div id="deleted-temp-files-container" class="mb-3">
                                <h6>Temporales</h6>
                                <div id="deleted-temp-files"></div>
                            </div>
                            <div id="deleted-recycle-bin-files-container" class="mb-3">
                                <h6>Papelera</h6>
                                <div id="deleted-recycle-bin-files"></div>
                            </div>
                            <div id="deleted-chrome-files-container" class="mb-3">
                                <h6>Chrome</h6>
                                <div id="deleted-chrome-files"></div>
                            </div>
                            <div id="deleted-edge-files-container" class="mb-3">
                                <h6>Edge</h6>
                                <div id="deleted-edge-files"></div>
                            </div>
                            <div id="deleted-opera-files-container" class="mb-3">
                                <h6>Opera</h6>
                                <div id="deleted-opera-files"></div>
                            </div>
                            <div id="no-deleted-files-container" class="mb-3">
                                <h6 class="text-center">No se eliminó ningún archivo</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 text-center pt-5">
                        <h5 class="mb-3">Total</h5>
                        <h6>Cantidad de archivos eliminados</h6>
                        <p id="deleted"></p>
                        <h6>Cantidad de archivos ignorados <i class="fab fa-circle-info"></i></h6>
                        <p id="skipped"></p>
                        <button class="btn btn-primary" onclick="navigate('/')">Regresar</button>
                    </div>
                </div>
            </div>
            <div id="confirm-modal" class="modal fade" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">¿Está seguro de querer limpiar este navegador?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Esta operación cerrará el navegador. Una vez cerrado, se recomienda esperar entre 1 a 2 minutos antes de abrirlo nuevamente.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="sendData()">Realizar limpieza</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Scripts -->
    {% include "layouts/scripts.html" %}
    <script src="/static/assets/site/js/maintenance.js"></script>
</body>

</html>